archive.zip
model.ipynb
dataset
yolo
model.h5
model1.h5
plastic bottle.jpg
saved_model.pb


glass.jpg
model.pt
litter_detection_ssd.pb
UML diagram.png
Sequence diagram.png
UML class.png
Activity diagram.png